# Using Pandas

## Importing Pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

In [3]:
#It will show pandas version as well as its dependencies 
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.0
pytest: 3.0.7
pip: 10.0.1
setuptools: 38.4.0
Cython: 0.25.2
numpy: 1.14.0
scipy: 1.0.0
pyarrow: None
xarray: None
IPython: 5.3.0
sphinx: 1.5.6
patsy: 0.4.1
dateutil: 2.6.1
pytz: 2017.2
blosc: None
bottleneck: 1.2.1
tables: 3.2.2
numexpr: 2.6.2
feather: None
matplotlib: 2.0.2
openpyxl: 2.4.7
xlrd: 1.0.0
xlwt: 1.2.0
xlsxwriter: 0.9.6
lxml: 3.7.3
bs4: 4.6.0
html5lib: 0.9999999
sqlalchemy: 1.1.9
pymysql: None
psycopg2: None
jinja2: 2.9.6
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [4]:
#Pandas documentation to see doc string of the method ,press shift+tab 
pd.show_versions?

# Series and DataFrames

In [5]:
olymbic_df = pd.read_csv('./data/olympics.csv',skiprows=4)
olymbic_df.head() # to see top 5 records

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [6]:
olymbic_df.tail() # To see last 5 records

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [7]:
olymbic_df.NOC # List NOC Column

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [8]:
olymbic_df['NOC'] # Another way of listing 'NOC' column

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
5        GRE
6        HUN
7        GRE
8        GRE
9        AUT
10       GRE
11       USA
12       HUN
13       USA
14       GER
15       USA
16       GBR
17       FRA
18       AUS
19       USA
20       GBR
21       USA
22       USA
23       GRE
24       AUS
25       HUN
26       GRE
27       USA
28       GRE
29       USA
        ...
29186    KAZ
29187    UZB
29188    RUS
29189    ARM
29190    KOR
29191    RUS
29192    AZE
29193    KAZ
29194    KGZ
29195    RUS
29196    AZE
29197    BLR
29198    UKR
29199    FRA
29200    KGZ
29201    FRA
29202    BUL
29203    GEO
29204    CHN
29205    TUR
29206    ITA
29207    HUN
29208    KAZ
29209    USA
29210    RUS
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

## Accessing data frame Series

In [9]:
olymbic_df[['Edition','Sport','Discipline']]

       Edition      Sport       Discipline
0         1896   Aquatics         Swimming
1         1896   Aquatics         Swimming
2         1896   Aquatics         Swimming
3         1896   Aquatics         Swimming
4         1896   Aquatics         Swimming
5         1896   Aquatics         Swimming
6         1896   Aquatics         Swimming
7         1896   Aquatics         Swimming
8         1896   Aquatics         Swimming
9         1896   Aquatics         Swimming
10        1896   Aquatics         Swimming
11        1896  Athletics        Athletics
12        1896  Athletics        Athletics
13        1896  Athletics        Athletics
14        1896  Athletics        Athletics
15        1896  Athletics        Athletics
16        1896  Athletics        Athletics
17        1896  Athletics        Athletics
18        1896  Athletics        Athletics
19        1896  Athletics        Athletics
20        1896  Athletics        Athletics
21        1896  Athletics        Athletics
22        1896  Athletics        Athletics
23        1896  Athletics        Athletics
24        1896  Athletics        Athletics
25        1896  Athletics        Athletics
26        1896  Athletics        Athletics
27        1896  Athletics        Athletics
28        1896  Athletics        Athletics
29        1896  Athletics        Athletics
...        ...        ...              ...
29186     2008  Wrestling  Wrestling Free.
29187     2008  Wrestling  Wrestling Free.
29188     2008  Wrestling  Wrestling Free.
29189     2008  Wrestling  Wrestling Gre-R
29190     2008  Wrestling  Wrestling Gre-R
29191     2008  Wrestling  Wrestling Gre-R
29192     2008  Wrestling  Wrestling Gre-R
29193     2008  Wrestling  Wrestling Gre-R
29194     2008  Wrestling  Wrestling Gre-R
29195     2008  Wrestling  Wrestling Gre-R
29196     2008  Wrestling  Wrestling Gre-R
29197     2008  Wrestling  Wrestling Gre-R
29198     2008  Wrestling  Wrestling Gre-R
29199     2008  Wrestling  Wrestling Gre-R
29200     2008  Wrestling  Wrestling Gre-R
29201     2008  Wrestling  Wrestling Gre-R
29202     2008  Wrestling  Wrestling Gre-R
29203     2008  Wrestling  Wrestling Gre-R
29204     2008  Wrestling  Wrestling Gre-R
29205     2008  Wrestling  Wrestling Gre-R
29206     2008  Wrestling  Wrestling Gre-R
29207     2008  Wrestling  Wrestling Gre-R
29208     2008  Wrestling  Wrestling Gre-R
29209     2008  Wrestling  Wrestling Gre-R
29210     2008  Wrestling  Wrestling Gre-R
29211     2008  Wrestling  Wrestling Gre-R
29212     2008  Wrestling  Wrestling Gre-R
29213     2008  Wrestling  Wrestling Gre-R
29214     2008  Wrestling  Wrestling Gre-R
29215     2008  Wrestling  Wrestling Gre-R

[29216 rows x 3 columns]

## Check the pandas different type of objects

In [10]:
type(olymbic_df)

pandas.core.frame.DataFrame

In [11]:
type(olymbic_df.NOC)

pandas.core.series.Series

In [12]:
type(olymbic_df[['City','Athlete','Medal']])

pandas.core.frame.DataFrame